
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

$primary-color-200: hsl(193, 38%, 86%);
$primary-color-400: hsl(150, 100%, 66%);

$secondary-color-200: hsl(217, 19%, 38%);
$secondary-color-800: hsl(217, 19%, 24%);
$secondary-color-600: hsl(218, 23%, 16%);

$font-family: 'Manrope', sans-serif;

/* 28px*/
$font-size-400: 1.5rem;

/* 24px*/
$font-size-200: 0.6875rem;

$font-size-600: 1.75rem;

$font-size-300: 0.825rem;